
@{
    ViewBag.Title = "CrearExpediente";
    Layout = null;
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>S I G E C A</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- CSS MENU-->
    <link href="~/Content/MenuTab.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/jquery-treetable.css">

</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom:auto">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> SIGECA </a>


                <div style="color:white; background:gray; padding: 15px 50px 5px 50px; float:right; font-size:15px;">
                    <i class="glyphicon glyphicon-user"> SIGECA </i>
                    <div id="Fecha"></div>
                    <a href="#" class="btn-dark">Salir</a>
                </div>

            </div>

        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <!-- tamaño de iconos es 32x32 se descargan en flat icon -->
                        <img src="/Imagenes/Muni.jpg" class="user-image img-responsive" />
                    </li>
                    <li>
                        <a href="@Url.Action("Menu", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/home.png" /> Inicio  </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CrearExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/consultarExpediente.png" />Crear expediente</a>
                    </li>
                    <li>
                        <a href="@Url.Action("EditarExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/user.png" />Editar expediente</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ActivarInactivarExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/user.png" /> Activar/ inactivar</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ConsultarExpediente", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/consultarExpediente.png" /> Consultar Expediente </a>
                    </li>


                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <fieldset>
                <legend align="center"> <b>Crear expediente</b> </legend><br />
            </fieldset>
            <!---------------------------------Buscador-------------------------------------------------------->
            <form class="well form-horizontal" action=" " method="post" id="contact_form">

                <fieldset>
                    <legend align="center"> <b>Buscar persona</b> </legend><br /><br />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tipo de búsqueda<font color="red">*</font></label>
                        <div class="col-md-3 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select name="state" class="form-control selectpicker">
                                    <option value="Identificación">Identificación</option>
                                    <option value="Nombre">Nombre</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Identificación<font color="red">*</font></label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                <input name="first_name" placeholder="Nombre o identificación" class="form-control" type="text">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="Boton">Buscar</button>
                        </div>
                    </div>

                </fieldset>
            </form>
            <!------------------------------Fin buscador----------------------------->
            <div class="tab">
                <!-- Esto funcionalidad está en Tabs.js -->
                <button class="tablinks" onclick="openTab(event,'IP')">Infromación personal</button>
                <button class="tablinks" onclick="openTab(event,'D')">Diagnóstico</button>
                <button class="tablinks" onclick="openTab(event,'S')">Seguimiento</button>
                <button class="tablinks" onclick="openTab(event,'A')">Ajuntar archivos</button>
            </div>
            <!-------------------------------------------- Form Información Personal----------------------------------- -->
            <div id="IP" class="tabcontent">
                <!-------------------------------Tabla---------------------------------------------------->
                <fieldset>
                    <legend align="center"> <b>Información personal</b> </legend><br /><br />
                </fieldset>
                <div class="table-container">

                    <table class="table-users table" border="0">
                        <tbody>
                            <tr width="10" align="center">
                                <th>Nombre completo</th>
                                <th>Cédula</th>
                                <th>Último acceso</th>
                            </tr>
                            <tr>
                                <td>
                                    Brandon Hernández Elizondo<br>
                                </td>
                                <td>
                                    207290604
                                </td>
                                <td>
                                    09/10/2018 <br><small class="text-muted">Hace 1 día</small>
                                </td>
                                <td>
                                    <button type="submit" value="Agregar" class="Boton" onclick="window.open('','_new').location.href='@Url.Action("FormularioInformacionPersonal", "Shared")'">Agregar</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div> <!-----------------------------------------Fin IP--------------------------------------------->
            <!-------------------------------------------------- Form Diagnóstico ------------------------------->
            <div id="D" class="tabcontent">
                <fieldset>
                    <legend align="center"> <b>Diagnóstico</b> </legend><br /><br />
                </fieldset>
                <!-------------------------------Tabla---------------------------------------------------->
                <div class="table-container">
                    <table class="table-users table" border="0">
                        <tbody>
                            <tr width="10" align="center">
                                <th>Nombre completo</th>
                                <th>Cédula</th>
                                <th>Último acceso</th>
                            </tr>
                            <tr>
                                <td>
                                    Brandon Hernández Elizondo
                                </td>
                                <td>
                                    207290604
                                </td>
                                <td>
                                    09/10/2018 <br><small class="text-muted">Hace 1 día</small>
                                </td>
                                <td>
                                    <button type="submit" value="Agregar" class="Boton" onclick="window.open('','_new').location.href='@Url.Action("FormularioDiagnostico", "Shared")'">Agregar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div> <!----------------------------------Fin Diagnóstico------------------------------------------------->

            <div id="S" class="tabcontent">
                <fieldset>
                    <legend align="center"> <b>Seguimientos</b> </legend><br /><br />
                </fieldset>
                <!----------------------------------------Tabla Seguimientos---------------------------------------------------->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Diagnóstico</th>
                            <th>Nombre</th>
                            <th>Último acceso</th>
                            <th>Seguimientos</th>
                            <th>Agregar nuevo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Brandon Hernández Elizondo</td>
                            <td>
                                09/10/2018 <br><small class="text-muted">Hace 1 día</small>
                            </td>
                            <td>
                                <div class="tt" data-tt-id="root" data-tt-parent="">Ver</div>
                            </td>
                            <td>
                                <button class="Boton" onclick="document.getElementById('FS').style.display='block'">
                                    Agregar
                                </button>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Seguimiento 1</th>
                            <td></td>
                            <td>
                                09/10/2018 <br><small class="text-muted">Hace 1 día</small>
                            </td>
                            <td>
                                <div class="tt" data-tt-id="Seguimiento 1" data-tt-parent="root"></div>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Seguimiento 2</th>
                            <td></td>
                            <td>
                                09/10/2018 <br><small class="text-muted">Hace 1 día</small>
                            </td>
                            <td>
                                <div class="tt" data-tt-id="Seguimiento 2" data-tt-parent="root"></div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <!--------------------------------------------Fin tabla seguimientos---------------------------------------------------------->
                <!-----------------------form Seguimiento---------------------------------------->
                <div id="FS" class="modal">

                    <div class="modal-content animate" action="/action_page.php" style=" margin-top:75px; height: 300px; margin-bottom:100px; margin-left: 50px; margin-right:50px;">
                        <form class="well form-horizontal" action=" " method="post" id="contact_form">
                            <span onclick="document.getElementById('FS').style.display='none'" class="close" title="Close PopUp">&times;</span>
                            <fieldset>
                                <legend align="center"> <b> Bitácoras de atención individual</b> </legend><br /><br /><br />

                                <div class="form-group">
                                    <label class="col-md-1 control-label">Fecha:</label>
                                    <div class="col-md-4">
                                        <div id="Fecha"></div>
                                    </div>
                                    <label class="col-md-1 control-label">Sesión:</label>
                                    <div class="col-md-4">
                                        <input name="first_name" placeholder="XXXX" class="form-control" type="text" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Segumiento<font color="red">*</font></label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            <textarea style="text-align: center;" rows="10" cols="55" name="website" placeholder="Seguimiento" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Responsable a cargo</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <input name="first_name" placeholder="Responsable a cargo" class="form-control" type="text" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Cargo</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <input name="first_name" placeholder="Cargo" class="form-control" type="text" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-success" role="alert" id="success_message">¡Datos correctos!<i class="glyphicon glyphicon-ok"></i> Información guardada.</div>
                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4">
                                        <button type="submit" class="Boton">Guardar</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div><!------Modal content---->
                </div><!---Modal--->

            </div><!---------------------Tab seguimiento------------------------------------>
                <!---------------------Adjuntos------------------------------------>
                <div id="A" class="tabcontent">
                    <fieldset>
                        <legend align="center"> <b> Adjuntar archivos </b> </legend><br />
                    </fieldset>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Consentimiento informado</label>
                        <input type="file" name="fileToUpload" id="fileToUpload">
                        <input type="submit" value="Subir imagen" name="Subir">
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Referencias</label>
                        <input type="file" name="fileToUpload" id="fileToUpload" multiple>
                        <input type="submit" value="Subir imágenes" name="Subir">
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Otro</label>
                        <input type="file" name="fileToUpload" id="fileToUpload">
                        <input type="submit" value="Subir imagen" name="Subir">
                    </div>

                    Carpeta: <a href="@Url.Action("ConsultarExpediente", "Shared")"> Carpeta de la paciente </a>
                </div><!--------------------Fin adjutos--------------------------------->

            </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="js/custom.js"></script>
    <script src="~/Scripts/MenuIF.js"></script>
    <script src="~/Scripts/Hora.js"></script>
    <script src="~/Scripts/Tab.js"></script>
    <script src="~/Scripts/d3.min.js"></script>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery-treetable.js"></script>
    <script>
        $("table").treetable();
        var modal = document.getElementById('PA');

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>

</body>
</html>


